<%- include('partials/_head.ejs') %>
<%- include('partials/_navigation.ejs') %>

<form method="POST" action="/sign-in">
    <label for="user">Username:</label>
    <input id="user" type="text" name="username">
    <label for="pass">Password:</label>
    <input id="pass" type="password" name="pass">
    <input type="submit" value="Sign In!">
</form>

<%- include('partials/_footer.ejs') %>
